:root {
    --long: 150px;
    --half: 75px;
    --wide: 20px;

    --fg: Black;
    --bg: White;
}
body {
    background-color: white;
}
header {
    text-align: center;
}
#input {
    border: 0;
    border-left: 2px inset blue;
    border-bottom: 2px inset blue;
}
.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: White;
    box-shadow: 0 0 0 4px #222;
    min-width: 90%;
    min-height: 270px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    word-break: break-all;
}
.alphabet {
    width: var(--long);
    height: var(--long);
    margin: 0.5rem;
    position: relative;
    background-color: var(--fg);
}
.alphabet::before, .alphabet::after {
    content: "";
    background-color: var(--fg);
    position: absolute;
}
.hashTag {
    background: var(--bg);
}
.hashTag::before {
    width: var(--wide);
    height: var(--long);

}
.hashTag::after {
    width: var(--wide);
    height: var(--long);
    right: 0;
}
.A {
    height: var(--wide);
    width: calc(var(--long)/4);
    margin-top: calc((var(--long)/2));;
}
.A::before {
    width: var(--wide);
    height: var(--long);
    top: calc((var(--long)/2) *-1);
    left: calc((var(--long)/6) - var(--wide));
    rotate: 15deg;
    transform-origin: 0 0;
}
.A::after {
    width: var(--wide);
    height: var(--long);
    top: calc((var(--long)/2) * -1);
    left: calc((var(--long)/6) - var(--wide));
    rotate: -15deg;
    transform-origin: 100% 0%;
}

.B {
    width: calc(var(--long)/1.5);
    background-color: var(--bg);
}
.B::before {
    width: calc(var(--long)/1.5);
    height: calc(var(--long)/2 + var(--wide)/2);
    border-radius: 0 50% 50% 0;
    background-color: var(--bg);
    box-shadow: inset 2px 2px 0 20px var(--fg);
}
.B::after {
    width: calc(var(--long)/1.5);
    height: calc(var(--long)/2 + var(--wide)/2);
    top: calc((var(--long)/2) - var(--wide)/2);
    border-radius: 0 50% 50% 0;
    background-color: var(--bg);
    box-shadow: inset 0px 0px 0 var(--wide) var(--fg);
}

.C {
    background-color: var(--bg);
    box-shadow: inset 0px 0 0 var(--wide) var(--fg);
    border-radius: 50%;
}
.C::after {
    width: calc(var(--long)/4);
    height: var(--long);
    right: 0;
    background-color: var(--bg);
}

.D {
    width: calc(var(--long)/1.5);
    border-radius: 0 45% 50% 0;
    background-color: var(--bg);
    box-shadow: inset 0 0 0 var(--wide) var(--fg);
}
.E {
    width: calc(var(--long) / 1.5);
}
.E::before {
    width: calc((var(--long) / 1.5) - var(--wide));
    height: calc(var(--long) - (var(--wide)*2));
    background-color: var(--bg);
    top: var(--wide);
    right: 0;
}
.E::after {
    width: calc((var(--long) / 1.5) - var(--wide));
    height: var(--wide);
    background-color: var(--fg);
    top: calc((var(--long)/2) - (var(--wide)/2));
    left: 0;
}

.F {
    width: calc(var(--long) / 1.5);
}
.F::before {
    width: calc((var(--long) / 1.5) - var(--wide));
    height: calc(var(--long) - (var(--wide)));
    background-color: var(--bg);
    top: var(--wide);
    right: 0;
}
.F::after {
    width: calc((var(--long) / 1.5) - var(--wide));
    height: var(--wide);
    background-color: var(--fg);
    top: calc((var(--long)/2) - (var(--wide)/2));
    left: 0;
}

.G {
    background-color: var(--bg);
    box-shadow: inset 0px 0 0 var(--wide) var(--fg);
    border-radius: 50%;
}
.G::before {
    width: calc(var(--wide) * 2);
    height: calc(var(--long) / 4);
    top: calc(var(--long) / 4);
    right: 0;
    background-color: var(--bg);
    
}
.G::after {
    width: calc(var(--long)/3);
    height: var(--wide);
    top: calc(var(--long) / 2);
    right: var(--wide);
    background-color: var(--fg);
}

.H {
    width: calc(var(--long) / 1.5);
}
.H::before {
    width: calc((var(--long) / 1.5) - calc(var(--wide)*2));
    height: var(--long);
    background-color: var(--bg);
    left: var(--wide);
}
.H::after {
    width: calc((var(--long) / 1.5) - var(--wide));
    height: var(--wide);
    top: calc((var(--long)/2) - (var(--wide)/2));
}

.I {
    width: calc(var(--long)/1.5);
}
.I::before {
    width: calc((var(--long) / 1.5));
    height: calc(var(--long) - ((var(--wide)*2)));
    background-color: var(--bg);
    top: var(--wide);
    right: 0;
}
.I::after {
    width: var(--wide);
    height: var(--long);
    left: calc((var(--half)/2) );
}

.J {
    width: calc(var(--long)/1.5);
}
.J::before {
    width: calc((var(--half)/1.5) - (var(--wide)/2));
    height: calc(var(--long) - var(--wide)*2);
    top: var(--wide);
    background-color: var(--bg);
}
.J::after {
    width: calc((var(--half)/1.5) - (var(--wide)/2));
    height: calc(var(--long) - var(--wide));
    top: var(--wide);
    background-color: var(--bg);
    right: 0;
}